<div class="container">
  <h1>Edit post!</h1>
<form action="/posts/edit/<%=@data.id%>" method="post">
  <center><table>
    <tr>
        <th>Post Id:</th>
        <td><%=@data.id%></td>
    </tr>
    <tr>
        <th></th>
      <td><input type="hidden" name="_method" value="put">
</td>
    </tr>
    <tr>
        <th>Post Title</th>
        <td><input type= "text" name="title_input" value="<%=@data.title%>"></td>
    </tr>
    <tr>
        <th>Post Description</th>
        <td><input type="text" name="description_input" value="<%=@data.description%>"></td>
    </tr>
    <tr>
        <th></th>
        <td><input type ="submit" value="Update"> </td>
    </tr>
  </table>
</center>
</form>
<a href="/posts">Back</a>
</div>
