<div class="container">
  <h1>Show Specific Tags!</h1>

  <center><table>
    <tr>
      <th>Tag Id</th>
      <th>Tag Name</th>
    </tr>
    <tr>
        <td><%=@data.id%></td>
        <td><%=@data.name%></td>
    </tr>
  </table>
</center>
<a href="/tags">Back</a>
</div>
